.desktop_header {
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0 0 auto;
  background-color: rgba(169, 169, 169, 0.062);
}

.desktop_header > nav {
  width: 100vw;
  min-height: 7rem;
  max-width: 144rem;
  padding: 0 var(--body-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop_header > nav > ul {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}