

.desktop_header {
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0 0 auto;
  z-index: 99;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.desktop_header > nav {
  width: 100vw;
  min-height: var(--desktop-nav-height);
  max-width: 144rem;
  padding: 0 var(--body-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background .3s ease-in;
  -webkit-transition: background .3s ease-in;
  -moz-transition: background .3s ease-in;
  -ms-transition: background .3s ease-in;
  -o-transition: background .3s ease-in;
}

.desktop_header_with_bg {
  --bg-col-sat: 20%;
  --bg-col-lyt: 10%;
  background-color: hsl(var(--bg-col-hue) var(--bg-col-sat) var(--bg-col-lyt));
}

.links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
}

.links a:hover {
  text-decoration: underline;
  color: #fff;
}

.desktop_header__fix {
  width: 100%;
  height: var(--desktop-nav-height);
}

@media only screen and (min-width: 720px) { 
  .links {
    width: 45%;
  }
}