.title {
  font-weight: 300;
  font-size:  clamp(4rem, 10vw, 10rem); 
}

.heading {
  font-weight: 600;
  font-size: clamp(3.2rem, 8vw, 8rem);
}

.heading2 {
  font-weight: 300;
  font-size: clamp(3.4rem, 6.8vw, 6.8rem);
}

.heading3 {
  font-weight: 300;
  font-size: clamp(2.7rem, 5.4vw, 5.4rem);
}

.heading4 {
  font-weight: 300;
  font-size: clamp(2.4rem, 4.8vw, 4.8rem);
}

.heading5 {
  font-weight: 500;
  font-size: clamp(2.1rem, 4.2vw, 4.2rem);
}

.paragraph {
  font-size: clamp(1.8rem, 2.8vw, 2.8rem);
}

.subtitle {
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.caption {
  font-size: clamp(1.2rem, 1.7vw, 1.8rem);
}

.primary {
  color: var(--accent-color);
}

.secondary {
  color: var(--peach-color);
}

.text-primary {
  color: rgba(255, 255, 255, 0.85);
}

.text-secondary {
  color: rgba(255, 255, 255, 0.6);
}

.muted {
  color:rgba(141, 141, 141, 0.87)
}

.w1 {
  font-weight: 100;
}
.w2 {
  font-weight: 200;
}
.w3 {
  font-weight: 300;
}
.w4 {
  font-weight: 400;
}
.w5 {
  font-weight: 500;
}
.w6 {
  font-weight: 600;
}
.w7 {
  font-weight: 700;
}
.w8 {
  font-weight: 800;
}
.w9 {
  font-weight: 900;
}

/* color?: 'primary' | 'secondary' | 'text-primary' | 'text-secondary' | 'muted', */
