.footer_card {
  margin-top: clamp(2.7rem, 5.4vw, 5.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer_card > *:first-child {
  margin-bottom: clamp(2.7rem, 5.4vw, 5.4rem);
}

.footer_card  address {
  margin: 0 auto;
  width: 80%;
}

.logo {
  font-weight: 600; 
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.social_links  {
  margin-top: 1rem;
  width: clamp(8rem,12vw,12rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_links > svg {
  width: clamp(2rem, 3vw, 3rem);
}

.terms_section {
  --padding: 3.5rem;
  position: relative;
  padding: var(--padding) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  isolation: isolate;
}
.terms_section::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: calc(var(--padding) * 0.8) auto;
  display: block;
  width: 0.2rem;
  background-color: rgba(187, 187, 187, 0.3);
}
.terms_section > * {
  text-decoration: none;
}

.terms_section > *:first-child {
  text-align: right;
}

@media only screen and (min-width: 1080px) {
  .footer_card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
  }
  .footer_card > *:first-child {
    margin-bottom: 0;
    text-align: left;
  }
  .footer_card  address {
    margin: 1.5rem 0 0 auto;
    width: 32.5rem;
  }
}