.container {
  margin-top: clamp(.15rem, 1.5vw, 7rem);
}

.services {
  display: flex;
  flex-direction: column;
}

.intro_container {
  margin-top: clamp(1.8rem, 1.5vw, 7rem);
}

.intro_container > * {
  margin-bottom: clamp(2rem, 3.6vw, 3.6rem);
}

@media only screen and (min-width: 360px) { 
  .services {
    flex-direction: row;
  }
  .services > *:first-child {
    margin-right: 2rem;
  }
}