@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --accent-col-hue: 210;
  --accent-col-sat: 100%;
  --accent-col-lyt: 56%;
  --accent-color: hsl(var(--accent-col-hue) var(--accent-col-sat) var(--accent-col-lyt));
  --bg-col-hue: 225;
  --bg-col-sat: 15%;
  --bg-col-lyt: 5%;
  --bg-color: hsl(var(--bg-col-hue) var(--bg-col-sat) var(--bg-col-lyt));
  --fg-col-hue: 0;
  --fg-col-sat: 0%;
  --fg-col-lyt: 100%;
  --fg-color: hsl(var(--fg-col-hue) var(--fg-col-sat) var(--fg-col-lyt));
  --peach-color-hsl: 0 100% 74%;
  --peach-color: hsl(var(--peach-color-hsl));
  --manrope: 'Manrope', sans-serif;
  --border-radius: 7px;
  --body-padding: clamp(3.2rem, 6vw, 6rem);
  --desktop-nav-height: 8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--manrope);
  color: rgba(255, 255, 255, 0.8);
  scroll-behavior: smooth !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

html, body {
  color: var(--fg-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-size: 10px;
}



body {
  --scrollbar-size: 0.5vw;
  display: grid;
  place-items: center;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
}
body::-webkit-scrollbar-thumb {
  --bg-col-lyt: 30%;
  --bg-col-sat: 25%;
  background-color:hsl(var(--bg-col-hue) var(--bg-col-sat) var(--bg-col-lyt));
}
body::-webkit-scrollbar-track {
  --bg-col-lyt: 20%;
  --bg-col-lyt: 15%;
  background-color: hsl(var(--bg-col-hue) var(--bg-col-sat) var(--bg-col-lyt));
  margin-block: 15vh;
}

#__next {
  width: 100vw;
  max-width: 144rem;
  padding: var(--body-padding);
}
